@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');
:root {
    --Verde: #1cd471;
    --Roxo:#270566;
    --Roxoclaro: #551fbd;
    --verdeclaro: #72f5af;
    --azul:#00ADB5;
}

html,body{
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--Roxoclaro);
    color: #1cd471;
}
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #551fbd;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #1cd471;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #551fbd;  /* creates padding around scroll thumb */
  }