.head {
    background-color: var(--Roxo);
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 54px 55px rgba(0,0,0,.25), 0 -12px 30px rgba(0,0,0,.12), 0 4px 6px rgba(0,0,0,.12), 0 12px 13px rgba(0,0,0,.17), 0 -3px 5px rgba(0,0,0,.09);;
}

.headImg {
    padding: 10px 20px;
    height: 60px;
    transition: .2s ease-in-out;
    width: 80px;
}
.headerTitle {
    text-align: center;
    margin: 0;
    flex: 1;
    color: var(--Verde);
}
.btnLogin {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    background-color: var(--verdeclaro);
    border: none;
    box-shadow: 0 0.0625em 0.0625em rgba(80, 66, 66, 0.25), 0 0.125em 0.5em rgba(0,0,0,.25), inset 0 0 0 1px hsla(0,0%,100%,.1);
    color: var(--Roxoclaro);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    transition: .2s ease-in-out;
    width: 80px;
}
.headImg:hover {
    cursor: pointer;
    transform: scale(0.9);
}
.btnLogin:hover {
    background-color: var(--Verde);
    transform: scale(0.9);
  }