.buttonSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Centralizar na vertical */
    margin-top: 50px;
    height: 50vh; /* Define a altura da seção para 50% da altura da viewport */
}

.buttonSection>.Link {
    background-color:#551fbd ; /* #a2eacb */
    color: #a2eacb; /* Cor correta */
    border: none;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.buttonSection>.Link>img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}
